version: '3.4'

services:
  rnids.whois.api:
    image: rnids/whois
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80;https://+:443
      - ASPNETCORE_Kestrel__Certificates__Default__Password=andrijavolivozove
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - MongoDb:ConnectionString=mongodb://db
    volumes:
      - ~/.aspnet/https:/https/
    ports:
      - '8081:80'
      - '8082:443'
    depends_on:
      - db

  db:
    image: mongo
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - 27018:27017
    volumes:
      - ./db:/data/db
